<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Studio.Properties.Settings>
            <setting name="LuxlandLicense" serializeAs="String">
              <value>KPUyvYrthAAnkdJIpfVk0m6GfkEbXzfNcWY6+lsFK+b64IRsS9QC5MjTtWriyO3mF1FA3y6gxFhpHF7QuCcVRYngP5oQc6lf7/ZPYondGCirdqQsN3qgt+iyIdf/PWh07XVsbXCNReiL+4x+2nS6NqCDix/5rFiQdD7x3zpp5g8=</value>
            </setting>
        </Studio.Properties.Settings>
    </userSettings>
</configuration>