<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Studio.Properties.Settings>
            <setting name="LuxlandLicense" serializeAs="String">
              <value>chNkQMfgacKRjkhLmR/elHhZ6OuMPrkbztb4FZe/o4lvthtaGX+QB5sbivT0/b6gtkB2HPNImM9TMyJNfN89cDMlVF9TVxQrVQWndAW5/nOpLY3ChCnbaEv2YJJuEd8Y0qOMWUzj9SRjAiVQ56Go9B5T7gmw9W1DnY7hN3rBCqc=</value>
            </setting>
        </Studio.Properties.Settings>
    </userSettings>
</configuration>